@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stephan Gunter 26603764</h1>
    <h2 >CMPG323 Project 2</h2>
    <p>Dimension Data project using ASP.NET CORE MVC and SQL Server </p>
</div>
